<div class="grid">
    <div class="col-1-2">
        <h3>Created By</h3>
        <p>Matthew Mancuso @@ NYU's Courant Institute of Mathematical Sciences</p>
        <br />
        <h3>Credits</h3>
        <p><strong>UI/Theming: </strong><a href="http://designmodo.github.io/Flat-UI/" title="Flat-UI Homepage">Flat-UI by Sergey Shmidt</a> </p>
        <p><strong>Dictionary: </strong><a href="http://zyzzyva.net/wordlists.shtml" title="Scrabble Dictionary Homepage">Scrabble Dictionary</a> </p>
        <p><strong>BigDecimal: </strong><a href="http://stackoverflow.com/questions/2863388/what-is-the-equivalent-of-the-java-bigdecimal-class-in-c" title="BigDecimal StackOverflow Page">BigDecimal Class by Gigo on StackOverflow</a> </p>
    </div>
</div>